.eventHeader {
    color: #777;
    text-align: center;
    font-size: 2.5rem;
}

.parent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #ebf5fc;
    padding: 30px 10px 60px 10px;
    color: #42424a;
}

.container h4 {
    color: #777;
}

.cardContainer {
    margin-top: 50px;
}

.card {
    background: #ebf5fc;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 10px;
    padding: 10px;
}

.card .name {
    font-weight: bold;
    margin: 5px;
    
}

.card .phone {
    margin: 5px;
}
