.eventHeader {
    color: #777;
    text-align: center;
    font-size: 2.5rem;
}

.parent {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: #232427;
    padding: 30px 0;
}

.container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.eventContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.eventContainer p {
    font-size: 1.2rem;
    color: #777;
    text-align: center;
}

.eventDateContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 200px;
    height: 200px;
    box-shadow: inset 5px 5px 5px rgba(0, 0, 0, 0.2),
                inset -5px -5px 15px rgba(255, 255, 255, 0.1),
                5px 5px 15px rgba(0, 0, 0, 0.3),
                -5px -5px 5px rgba(255, 255, 255, 0.1);
    border-radius: 15px;
    margin: 30px;
}

.eventDateContainer .calendarIcon {
    width: 50px;
    height: 50px;
}

.eventDateContainer p {
    font-size: 1.6rem;
    color: #03a9f4;
    font-weight: bold;
    text-align: center;
}

.regRuleContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.regRuleContainer p {
    font-size: 1.6rem;
    font-weight: bold;
    color: #777;
}

.regRuleContainer a {
    position: relative;
    display: inline-block;
    padding: 8px 20px;
    background: #000;
    margin-top: 15px;
    border-radius: 5px;
    background-color: #ff568f;
    color: #fff;
    font-weight: bold;
    text-decoration: none;
    box-shadow: 0 10px 20px rgba(0,0,0,0.2);
}